# Phyton Einführung
## Unterüberschrift
normaler Text **fett**
*kursiv*
- Punkt 1
- Punkt 2
- Punkt 3

In [82]:
print("Hello World")

Hello World

In [83]:
#  Das ist ein Kommentar

In [84]:
# Datentypen
name = "Lovelace"

In [85]:
print(name)

Lovelace

In [86]:
age = 73

In [87]:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [88]:
size = 1.7123

In [89]:
# Operatoren
5 + 5

10

In [90]:
age * 100

7300

In [91]:
name

'Lovelace'

In [92]:
name + name

'LovelaceLovelace'

In [93]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [94]:
name + "10"

'Lovelace10'

In [95]:
size/age

0.023456164383561642

In [96]:
number_of_articles = "50"

In [97]:
type(numeber_of_articles)

NameError: name 'numeber_of_articles' is not defined

In [ ]:
type(number_of_articles)

In [ ]:
in(number_of_articles)
type(number_of_articles)

In [ ]:
int(number_of_articles)
type(number_of_articles)

In [ ]:
number_of_articles = int(number_of_articles)
type(number_of_articles)

# Funktionen und Methoden

In [ ]:
len(name)

In [ ]:
name.upper()

In [ ]:
name_upper = name.upper()

In [ ]:
print(name_upper)

In [ ]:
name.count("E")

In [ ]:
name.replace("lace"," is everwhere")

In [ ]:
name.replace("everwhere", "everywhere")

In [ ]:
print(name_upper)
print(name)

In [ ]:
name_upper.count("E")

# Listen und Dictionaries

In [ ]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [ ]:
print(names)

In [ ]:
names[2]

In [ ]:
name[1]

In [ ]:
print(name
    )

In [ ]:
names[-1]

In [ ]:
names[0-3]

In [ ]:
names[0:3]

In [ ]:
authors_and_birth_years =  {"Lovelace" : 1882, 
                            "Darwin" : 1809, 
                            "Noether": 1882}

In [ ]:
authors_and_birth_years["Darwin"]

In [98]:
authors_and_birth_years["Noether"]

NameError: name 'authors_and_birth_years' is not defined

# for-Schleife

In [99]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [103]:
for name in names:
    print(name + " did awesome stuff")
    print('-------------------------')

Lovelace did awesome stuff
-------------------------
Darwin did awesome stuff
-------------------------
Curie did awesome stuff
-------------------------
Hawking did awesome stuff
-------------------------

In [104]:
for name in names:
    print(name + " did awesome stuff")
print('-------------------------')

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
-------------------------

# Bedingte Anweisungen (Conditionals)

In [106]:
temp = 10
if temp > 15:
    print("It's warm")

In [107]:
temp = 20
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [111]:
temp = 24
if temp >= 25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [112]:
authors_and_birth_years =  {"Lovelace" : 1882, 
                            "Darwin" : 1809, 
                            "Noether": 1882}

In [137]:
for author in authors_and_birth_years.item():
    print(author + " LEBENSDATEN SIND " + str(birth_years))

NameError: name 'birth_years' is not defined

In [140]:
for author, birth_year in authors_and_birth_years.items():
      print(author + " ist geboren am " + str(birth_year))

Lovelace ist geboren am 1882
Darwin ist geboren am 1809
Noether ist geboren am 1882